.ui-content {
  text-align: center;
}


#ing_input {
  border-bottom: 2px solid black;
}


.ui-input-text.ui-custom {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important; /* focus property */
}


.ing_list {

}
